{% extends 'base.html' %}

{% block 'body' %}
    <div class="container">
        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <br>
            <label>Email</label>
            <input type="email" placeholder="Digite seu email" name="email" class="from-control">

            <br>
            <label>Email</label>
            <input type="password" placeholder="Digite uma senha" name="senha" class="from-control">

            <br>
            <input type="submit" class="btn btn-success">
        </form>
    </div>
{% endblock %}